@page
@model DAF_Project.Pages.ViewAll.ViewModel
@{
    ViewData["Title"] = "View page";
}

<div class="border rounded p-5" style="background-color:orange">
    <h2>R @Model.money donations made for today</h2>
    <h2>@Model.goods goods</h2>
    <h2>@Model.disaster disaster</h2>
</div>