@page
@model DAF_Project.Pages.ViewAll.ViewModel
@{
    ViewData["Title"] = "View page";
}

<div class="border rounded p-5" style="background-color:orange">
    <h2>All incoming monetary</h2>
    <h2>All incoming goods</h2>
    <h2>All disasters</h2>
</div>