@page
@model DAF_Project.Pages.Capture.CaptureMoney.CaptureMoneyModel
@{
    ViewData["Title"] = "Money donation page";
}

<div class="container-fluid border rounded p-5" style="background-color:orange">
    <h2 style="color:purple">Donate Money here!</h2>
    <div class="row content">
        <div class="col-sm-9">
            <form method="POST">
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" style="color:purple">Date</label>
                    <div class="col-sm-6">
                        <input type="datetime-local" class="form-control" name="date" value="@Model.newDate" style="border:2px solid purple" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" style="color:purple">Amount</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="amount" value="@Model.newAmount" style="border:2px solid purple" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" style="color:purple">Donor</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="amount" value="@Model.newDonor" style="border:2px solid purple" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <button type="submit" class="btn" style="background-color:purple;color:white">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>